[submodule "libs/ez-pgocaml"]
	path = libs/ez-pgocaml
	url = git@github.com:ocpmax/ez-pgocaml.git
	branch = update-pgocaml
[submodule "libs/ez-api"]
	path = libs/ez-api
	url = git@github.com:OCamlPro/ez-api.git
[submodule "libs/vue_jsoo"]
	path = libs/vue_jsoo
	url = git@gitlab.com:o-labs/vue_jsoo.git
